# Ignore random work related scripts
states/bin/files/scripts/work/*
# Ignore aws-gen-session script with work ACCOUNT IDs
states/bin/files/scripts/aws/aws-gen-session

.DS_Store
# Generated
.salt/
states/nvim/files/autoload
states/nvim/files/plugged
states/nvim/files/backups
states/nvim/files/.netrwhist

# Workjkk
states/zsh/files/zsh.d/work.zsh
